<ion-header>
  <ion-toolbar>
    <ion-title>Lager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-img src="assets/brahma-card-header.jpg"></ion-img>
        </ion-card-header>
  
        <ion-card-content>
          <ion-card-subtitle>Lager</ion-card-subtitle>
          <ion-card-title>Brahma</ion-card-title>
          <p>Com seu corpo moderado e sua leve acidez, a Cerveja Brahma 
            Extra Lager é de baixa fermentação, 
            com aparência clara, dourada, límpida e brilhante.</p>
        </ion-card-content>

        <ion-card-content>
            <ion-card-subtitle>Lager</ion-card-subtitle>
            <ion-card-title></ion-card-title>
        </ion-card-content>
    </ion-card>
</ion-content>
