<ion-header>
  <ion-toolbar>
    <ion-title>Puro Malte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
        <ion-img src="assets/proibida-card-header.png"></ion-img>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle>Puro Malte</ion-card-subtitle>
        <ion-card-title>Proibida</ion-card-title>
        <p>Tão gostosa que é proibida. A melhor ouro malte do Ceara</p>
        <ion-button fill="outline" [routerLink]="['/cerveja-detalhes',50]">
          Mais Detalhes
        </ion-button>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-img src="assets/skol-puro-malte.jpg"></ion-img>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle>Puro Malte</ion-card-subtitle>
        <ion-card-title>Skol</ion-card-title>
        <p>Não chegou ainda</p>
        <ion-button fill="outline" [routerLink]="['/cerveja-detalhes',60]">
          Mais Detalhes
        </ion-button>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-img src="assets/imperio.jfif"></ion-img>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle>Puro Malte</ion-card-subtitle>
        <ion-card-title>Imperio</ion-card-title>
        <p>A cerveja Império Puro Malte nasceu da busca pela perfeição. Sua elaboração nobre, 
          fruto do trabalho rigoroso dos melhores mestres-cervejeiros do Brasil.</p>
        <ion-button fill="outline" [routerLink]="['/cerveja-detalhes',70]">
          Mais Detalhes
        </ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>
