<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicione uma nova Cerveja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <ion-item>
      <ion-label color="primary" position="floating">
          Nome da cerveja:
      </ion-label>
      <ion-input name="nome" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">
          Descrição
      </ion-label>
      <ion-textarea name="descricao" ngModel>
      </ion-textarea>
    </ion-item>

    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          Tipo
        </ion-list-header>
        <ion-item>
          <ion-label>Puro Malte</ion-label>
          <ion-radio slot="end" value="Puro Malte"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Pilsen</ion-label>
            <ion-radio slot="end" value="Pilsen"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Lager</ion-label>
            <ion-radio slot="end" value="Lager"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
    </ion-list>
    <ion-button type="submit">
        <ion-icon name="save"></ion-icon>
          Salvar
    </ion-button>
  </form>
  {{mensagem}}
</ion-content>
